.footer {
    background-color: #0275BC;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 100%;
    
    
    
}

.footer-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.footer-links {
    margin: 10px 20px;
}

.footer-links h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-links p, .footer-links ul li p {
    margin: 5px 0;
    font-size: 0.9rem;
    line-height: 1.5;
}

.copy {
    font-size: 0.8rem;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 10px;
    margin: 0;
}

/* Efectos al pasar el mouse */
.footer-links h4:hover {
    color: #FFD700;
    cursor: pointer;
}

.footer-links p:hover {
    color: #FFD700;
}

/* Responsive */
@media (max-width: 600px) {
    .footer-row {
        flex-direction: column;
        align-items: center;
    }
    
    .footer-links {
        margin: 10px 0;
    }
}
