.cursos-grid {
 max-width: 600px;
 margin: auto;
 padding: 20px;
 background: #f8f9fa;
 border-radius: 10px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
h2 {
  text-align: center;
  color: #0275BC;
}
  
label {
  font-weight: bold;
  display: block;
  margin: 10px 0;
}
  
select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
  
ul {
  list-style: none;
  padding: 0;
}
  
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
  
.presente {
  background-color: #5fb962;
  color: white;
}
.presente:hover:not(:disabled) {
  background-color: #118615;
}
.presente.active {
  background-color: #05b10e;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
}
.ausente {
  background-color: #f36d63;
  color: white;
}
.ausente:hover:not(:disabled) {
  background-color: #d34141;
}
.ausente.active {
  background-color: #fd2222;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
}
.GuardarAsistecia{
  margin-bottom: 2%;
}