.cursos-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espacio entre los botones */
  margin-bottom: 20px;
}

.curso-btn {
  background-color: #0275BC;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.curso-btn:hover {
  background-color: #025a91;
}

.agregar-btn {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #0275BC;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.agregar-btn:hover {
  background-color: #025a91;
}
